// 1. Utilities (variables, mixins)
@use "utils/variables" as var;
@use "utils/mixins" as mix;

// 2. Base (typography)
@use "base/typography";

// 3. Layout (header, footer, main-content, nav)
@use "layout/header";
@use "layout/nav";
@use "layout/main-content";
@use "layout/footer";

// 4. Components (buttons, forms, sections)
@use "componentes/buttons";
@use "componentes/forms";
@use "componentes/sections";

// 5. Pages (home, contactanos, catalogo, reserva, etc.)
@use "pages/home";
@use "pages/reserva";
@use "pages/catalogo";
@use "pages/contactanos";
@use "pages/informacion";

body {
    font-family: var.$font-family-base;
    line-height: var.$line-height-base;
    color: var.$color-gray-dark;
    background-color: var.$color-white;
}