@use "../utils/variables" as var;
@use "../componentes/forms" as forms; 

.reserva-page-content {
    @extend .form-group;
    max-width: 700px;
    margin: var.$spacing-xl auto;

    @media (max-width: var.$breakpoint-md) {
        padding: var.$spacing-lg;
        margin: var.$spacing-lg auto;
    }

    h1 {
        color: var.$color-primary;
        text-align: center;
        margin-bottom: var.$spacing-lg;
    }

    p {
        text-align: center;
        color: var.$color-gray-medium;
        margin-bottom: var.$spacing-lg;
    }

    .btn-submit {
        @extend .btn-primary !optional; 
        width: 100%;
        margin-top: var.$spacing-md;
    }
}