@use "../utils/variables" as var; 

.main-nav {
    flex-grow: 1;
    text-align: center;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        gap: var.$spacing-lg;

        @media (max-width: var.$breakpoint-md) {
            flex-direction: column;
            gap: var.$spacing-sm;
        }

        li a { 
            color: var.$color-white; 
            text-decoration: none; 
            display: block;
            padding: var.$spacing-xxs var.$spacing-sm;
            font-weight: bold;
            text-transform: uppercase;
            transition: background-color var.$transition-speed-normal var.$transition-timing-ease-in-out,
                        transform var.$transition-speed-fast var.$transition-timing-ease;
        }
    }

    li {
        margin-bottom: var.$spacing-xs;
        @media (min-width: var.$breakpoint-md) {
            margin-bottom: 0;
        }
    }

    a {
        display: block;
        padding: var.$spacing-xxs var.$spacing-sm;
        font-weight: bold;
        text-transform: uppercase;
        transition: background-color var.$transition-speed-normal var.$transition-timing-ease-in-out,
                    transform var.$transition-speed-fast var.$transition-timing-ease;
    }
}
