@use "../utils/variables" as var; 

.sections {
    padding: var.$spacing-xxl 0;
    text-align: center;
    background-color: var.$color-gray-light; 

    &.section-hero {
        padding: var.$spacing-xxxl 0;
        background-color: var.$color-primary; 
        color: var.$color-white; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 400px;
    }
}

.card {
    background-color: var.$color-white; 
    padding: var.$spacing-lg;
    border-radius: var.$border-radius-md;
    box-shadow: var.$shadow-medium; 
    transition: transform var.$transition-speed-normal var.$transition-timing-ease,
                box-shadow var.$transition-speed-normal var.$transition-timing-ease;

    &:hover {
        transform: translateY(-3px);
        box-shadow: var.$shadow-strong;
    }
}
